/* Basic Reset*/
*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(229, 229, 211);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
    font-family: sans-serif;

}

.container{
    background-color: white;
    border-radius: 1rem;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 10px 30px rgb(28, 28, 27);
    overflow: hidden;
    position: relative;
}